/*初始化*/
* {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #212220;
}
/*头部*/
.grid-header{
    width: 100%;
    height: 60px;
}
.header-fixed{
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e8e9e7;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
.header-inner{
    position: relative;
    height: 60px;
}
.header-logo{
    position: absolute;
    width: 100px;
    height: 60px;
    font-size: 30px;
    color: #444647;
    text-align: center;
    line-height: 60px;
}
.nav{
    position: absolute;
    left: 200px;
    height: 60px;
    font-size: 0; /*消除行内块元素之间的空白*/
}
.nav li{
    position: relative;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}
.nav li a{
    display: block;
    padding: 0 25px;
    transition: all .2s;
    -webkit-transition: all .2s;
}
.nav li::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #5FB878;
    transition: all .6s;
    -webkit-transition: all .6s;
}
.nav li:hover::before{
    width: 100%;
    left: 0
}
.nav li:hover a{
    color: #5FB878;
}










